.rate-color-bar {
    min-width: 100px;
    min-height: 30px;
    display: block;
    position: relative;
}

.rate-color-bar .bar-row {
    display: flex;
}

.rate-color-bar .bar-row .bar-container {
    position: relative;
    width: -webkit-fill-available;
}

.rate-color-bar .bar-stick {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 15px;
    background-image: url(img/color-bar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
}

.rate-color-bar .bar-target {
    background-image: url(img/target.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    min-height: 60px;
    top: 0px;
    left: 100%;
    z-index: 100;
    transform: translate(-20px, -10px);
}

.rate-color-bar .min-val, .rate-color-bar .max-val {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}