.rate-color-bar {
    max-width: 300px;
    height: 100px;
    display: block;
    position: relative;
    padding: 10px;
}

.rate-color-bar .bar-row {
    display: flex;
}

.rate-color-bar .bar-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 15px;
    background-image: url(img/color-bar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
}

.rate-color-bar .bar-target {
    position: relative;
    height: 60px;
    top: -8px;
    left: 100%;
    z-index: 100;
    transform: translate(-20px, -10px);
}

.rate-color-bar .min-val, .rate-color-bar .max-val {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}